{%extends 'customer/base.html'%}

{%block body_block%}

<div class="row">
  {%for order in orders%}

    <div class="col-4 mt-5">
        <div class="card" style="width: 80%;">
            <img src="{{order.product.image.url}}" class="card-img-top" alt="" style="height:200px">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{order.product}}</li>
                <li class="list-group-item">{{order.address}}</li>
                <li class="list-group-item">{{order.phone_number}}</li>
                <li class="list-group-item">{{order.status}}</li>
                <li class="list-group-item">{{order.exp_delivery_date}}</li>
                <li class="list-group-item"><a href="{%url 'cancel_order' order.id%}" class="btn btn-danger btn-sm">Cancel Order</a></li>
            </ul>
        </div>
    </div>

    {%endfor%}
</div>
    </div>
    <div class="col-4">
    </div>
    <div class="col-4"></div>
</div>

{%endblock%}