{%extends 'customer/base.html'%}

{%block body_block%}

<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;  {%for order in orders%}&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="col-4 mt-5">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card" style="width: 80%;">&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="{{order.product.image.url}}" class="card-img-top" alt="" style="height:200px">&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="list-group list-group-flush">&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item">{{order.product}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item">{{order.address}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item">{{order.phone_number}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item">{{order.status}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item">{{order.exp_delivery_date}}</li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li class="list-group-item"><a href="{%url 'cancel_order' order.id%}" class="btn btn-danger btn-sm">Cancel Order</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    {%endfor%}&ndash;&gt;-->
<!--</div>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--    </div>-->
<!--    <div class="col-4"></div>-->
<!--</div>-->

<div class="row mx-3 mt-3 ">

        {%for order in orders%}
        <div class="card mb-5 mx-3 mt-5" style="max-width: 500px; ;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{order.product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{order.product}}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{order.address}}</li>
                            <li class="list-group-item">{{order.phone_number}}</li>
                            <li class="list-group-item">{{order.status}}</li>
                            <li class="list-group-item">Expected delivery:{{order.exp_delivery_date}}</li>
                            <a href="{%url 'cancel_order' order.id%}"
                                                           class="btn btn-danger btn-sm">Cancel
                                Order</a>
                    </div>
                </div>
            </div>
        </div>

        {%endfor%}



</div>
{%endblock%}