<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'user_css/user_css.css'%}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for message in messages%}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="text-success">
                            {{message}}
                        </div>
                    {%endif%}
<!--                {{message}}-->
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 mt-5">
            {%if messages%}
                {%for message in messages%}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="text-danger">
                            {{message}}
                        </div>
                    {%endif%}
<!--                {{message}}-->
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row text-center">
        <div class="col-5"></div>
        <div class="col-4">
            <div class="col-4"><h2 class="text-center mt-4 mb-1 " style="color: Green;">Sign in </h2></div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row mt-3">
        <div class="col-4"></div>
        <div class="col-4 ">
            <form action="" method="post" class="form-style">
                {%csrf_token%}
                {{form.as_p}}
                <div class="row ">
                     <div class="col-2"></div>
                    <div class="col-8">
                        <div class="row">
                            <button type="submit" class="btn btn-success ">Signin</button>
                        </div>

                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row text-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <p class="m-3"><span class="text-success ">New user</span> <a href="{%url 'signup'%}" >Create an
                            account.</a></p>
                    </div>
                    <div class="col-1"></div>
                </div>

            </form>

            <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center">

        </div>
        <div class="col-4"></div>

    </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>