<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'user_css/user_css.css'%}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for message in messages%}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="text-success">
                            {{message}}
                        </div>
                    {%endif%}
<!--                {{message}}-->
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
                {%for message in messages%}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="text-danger">
                            {{message}}
                        </div>
                    {%endif%}
<!--                {{message}}-->
                {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">
            <form action="" method="post" class="form-style">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-success mx-2 btn-sm">Signin</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>