<!DOCTYPE html>
{%extends 'reporting/base.html' %}

{%block body_block%}

<div class="container px-lg-5">
    <div class="p-4 p-lg-5 bg-light rounded-3 text-center mt-3">
        <h1 class="display-5 fw-bold">Admin home</h1>
        <div class="m-4 m-lg-5">
            <a class="btn btn-primary btn-lg" href="{%url 'adduser'%}">User Management</a>
            <a class="btn btn-primary btn-lg" href="{%url 'addcourse'%}">Cousre Management</a>
            <a class="btn btn-primary btn-lg" href="{%url 'addbatch'%}">Batch Management</a>
            <a class="btn btn-primary btn-lg" href="{%url 'listtimesheet'%}">Timesheet Management</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href=""></a>
        </div>
        <div class="col-3">
            <a href=""></a>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
            <a href=""></a>
        </div>
        <div class="col-3">
            <a href=""></a>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">

        </div>
        <div class="col-3">
            <a href=""></a>
        </div>
        <div class="col-3"></div>
    </div>
</div>


{% endblock %}