<!DOCTYPE html>
{%extends 'reporting/base.html' %}

{%block body_block%}

<div class="container">
    <div class="row mt-5">
        <div class="col-4">
             <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Add Batch" class="btn btn-success">
            </form>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <table class="table">
                <tr>
                    <td>Course Name</td>
                    <td>Batch Name</td>
                    <td>Action</td>
                </tr>
                {%for batch in batches%}
                <tr>
                    <td>{{batch.course}}</td>
                    <td>{{batch.batch_name}}</td>
                    <td><a href="{%url 'editbatch' batch.id%}" class="btn btn-outline-warning rounded-pill">Edit</a>
                        <a href="{%url 'batchdetails' batch.id%}" class="btn btn-outline-primary border rounded-pill">View</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-1"></div>

    </div>
</div>


{% endblock %}