<!DOCTYPE html>
{%extends 'reporting/base.html' %}

{%block body_block%}

<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h1>Add User</h1>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Add User">
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}