<!DOCTYPE html>
{%extends 'reporting/base.html' %}

{%block body_block%}
<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                <table class="table">
                    <tr>
                        <td>Course Name</td>
                        <td>Role</td>
                    </tr>
                  <tr>
                      <td>
                          {{users.email}}
                      </td>
                      <td>{{users.role}}</td>
                  </tr>
                </table>
            </form>

        </div>
        <div class="col-4"></div>
    </div>
</div>
{%endblock%}