<!DOCTYPE html>
{%extends 'reporting/base.html' %}

{%block body_block%}

<div class="container">
    <div class="row mt-5">
        <h3 class="display-5 ">Add User</h3>
        <div class="col-4 mt-2">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Add User class="btn btn-success">
            </form>
        </div>
        <div class="col-2"></div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Email</td>
                    <td>Role</td>
                    <td>Action</td>
                </tr>
                {%for user in users%}
                <tr>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td><a href="{%url 'user_edit' user.id%}" class="btn btn-outline-warning rounded-pill">Edit</a>
                        <a href="{%url 'userdetails' user.id%}" class="btn btn-outline-warning rounded-pill">View</a>
                    </td>

                </tr>
                {%endfor%}
            </table>
        </div>

    </div>
</div>


{% endblock %}