<!DOCTYPE html>
{%extends 'base_owner.html'%}

{%block body_block%}

<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="text-success">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>

</div>

<!--<div class="container mt-5">-->
<!--    <div class="row">-->
<!--        <div class="col-4"></div>-->
<!--        <div class="col-4">-->
<!--            {%if messages%}-->
<!--            {%for message in messages%}-->
<!--            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}-->
<!--            <div class="text-success">-->
<!--                {{message}}-->
<!--            </div>-->
<!--            {%endif%}-->
<!--            {%endfor%}-->
<!--            {%endif%}-->
<!--        </div>-->
<!--        <div class="col-4"></div>-->
<!--    </div>-->

<!--</div>-->

<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 class="text-center mt-4  " style="color: Green;">List of Mobiles</h2>
        </div>
        <div class="col-1"></div>
    </div>
    <div class="row ">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-1"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </form>
        </div>
        <div class="col-1"></div>

    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 ">
            <table class="table text-center">
                <tr>
                    <td class="table-info">IMAGE</td>
                    <td class="table-info">MOBILE NAME</td>
                    <td class="table-info">BRAND</td>
                    <td class="table-info">PRICE</td>
                    <td class="table-info">COPIES</td>
                    <td class="table-info">ACTION</td>
                </tr>
                {%for mobile in mobiles%}
                <tr>
                    <td><img src="{{mobile.image.url}}" alt="" style="height:120px; width:1"></td>
                    <td>{{mobile.mobile_name}}</td>
                    <td>{{mobile.brand_name}}</td>
                    <td>{{mobile.price}}</td>
                    <td>{{mobile.copies}}</td>
                    <td class=""><a href="{%url 'mobiledetails' mobile.id%}"
                                    class="btn btn-primary btn-sm mx-2">View</a>
                        <a href="{%url 'mobileupdate' mobile.id%}" class="btn btn-warning btn-sm mx-2">Update</a>
                        <a href="{%url 'mobileremove' mobile.id%}" class="btn btn-danger btn-sm mx-2">Delete</a>
                    </td>

                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>


{% endblock %}