<!DOCTYPE html>
{%extends 'base_owner.html'%}

{%block body_block%}
{%load static%}
<link rel="stylesheet" href="{%static 'css/owner_style.css'%}">
<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 ">

            <div class="card" style="width: 18rem;">
                <td class="border"><img src="{{mobile.image.url}}" alt="" style="height:200px; width:100%;"></td>
                <div class="card-header">
                    {{mobile.mobile_name}}
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{mobile.brand_name}}</li>
                    <li class="list-group-item">₹{{mobile.price}}</li>
                    <li class="list-group-item">{{mobile.copies}}copies</li>
                </ul>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

{% endblock %}