<!DOCTYPE html>
{%extends 'base.html'%}

{%block body_block%}

<div class="container mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            {%if messages%}
            {%for message in messages%}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="text-success">
                {{message}}
            </div>
            {%endif%}
            {%endfor%}
            {%endif%}
        </div>
        <div class="col-4"></div>
    </div>

</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-3"></div>
    <div class="col-2"></div>
    <div class="col-2">
        <form action="" method="post">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <div class="col-2"></div>
</div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table">
                <tr>
                    <td class="border">IMAGE</td>
                    <td class="border">BOOK NAME</td>
                    <td class="border">AUTHOR</td>
                    <td class="border">PRICE</td>
                    <td class="border">COPIES</td>
                    <td class="border">ACTION</td>
                </tr>
                {%for book in books%}
                <tr>
                    <td class="border"><img src="{{book.image.url}}" alt="" style="height:100px; width:100px;"></td>
                    <td class="border">{{book.book_name}}</td>
                    <td class="border">{{book.author}}</td>
                    <td class="border">{{book.price}}</td>
                    <td class="border">{{book.copies}}</td>
                    <td class="border"><a href="{%url 'bookdetails' book.id%}" class="btn btn-primary">View</a>
                        <a href="{%url 'changebook' book.id%}" class="btn btn-warning">Update</a>
                        <a href="{%url 'removebook' book.id%}" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>


{% endblock %}