<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<a href="{%url 'addnums'%} " class="btn btn-primary">Addition</a>
<a href="{%url 'substraction'%}" class="btn btn-warning">Substraction</a>
<a href="{%url 'multiplication'%}" class="btn btn-secondary">Multiplication</a>
<a href="{%url 'division'%}" class="btn btn-danger">Divison</a>
<a href="{%url 'cube'%}" class="btn btn-primary">Cube</a>

</body>
</html>